@font-face {
    font-family: 'font1';
    src: url('../fonts/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2';
    src: url('../fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0.5em;
    background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb{
    border: 1px solid black;
    background-color: rgba(0,0,0,0.6);
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.header-box{
    position: relative;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    cursor: pointer;
    transform: scale(1.25);
    transition: all 0.3s ease-out; /* Ici, on applique une animation à tous les éléments de box de durée 0.3 secondes de façon à rendre fluide l'animation dans ce conteneur */ 
}
.header-box:hover{
    transform: scale(1.5); /* au passage de la souris, la taille des éléments de la box seront augmentés de 1,25 */
}
.header-box h1{  
    position: absolute;
    font-family: font1;
    font-size: 1.5em;
    color: white;
    margin-top: -60%;
    margin-left: 1em;
}
@keyframes title{
    100%{
        width: 100%;
    }
}

.cercle{
    width: 10.75em; /* Je ne met pas les mêmes dimentions afin d'avoir un effet oeuf sur le cercle lors de l'animation */
    height: 10em;
    border: 3px solid white;
    border-radius: 100%;
    animation: 1s linear infinite alternate couleur, 5s linear infinite tourner, 3s infinite alternate background;;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
}
@keyframes couleur{
    from{
        box-shadow: 
        0 0 0px #F1C13F,
        0 0 0px #3FD4EB,
        0 0 0px #97F137,
        0 0 0px #F53232
        ;
    }
    to{
        box-shadow: 
        -5px 0 0px #F1C13F,
        0 -5px 0px #3FD4EB,
        0 5px 0px #97F137,
        5px 0 0px #F53231
        ;
    }
}
@keyframes tourner{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.presentation{
    margin-top: -0.48em;
    width: 100%;
    height: 33em;
    border: 1px solid black;
    background-color: black;
}
.presentation a{
    text-decoration: none;
}
@keyframes background{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}
.presentation p{    
    font-family: font2;
    color: white;
    text-align: center;
    margin-top: 3em;
    font-size: 1.5em;
    width: 100%;
}
.presentation p span{
    font-weight: bold;
    color: #37E1CF;
}
.bouton-cv{
    display: inline-block;
    padding: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-family: font2;
    color: black;   
    border: 1px solid black;
}
.bouton-cv span{
    font-size: 1.3em;
}
.bouton-cv:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 1px solid white;
    transform: scale(1.2);
}
.positionBoutonCv{
    margin-top: 1em;
}
footer{
    display: inline-block;
    position: absolute;
    margin: 0;
    margin-top: 5em;
    left: 0;
    width: 100.1%; 
    margin-bottom: -2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s infinite alternate background;
}
footer p{
    text-align: center;
    font-family: font2;
    font-size: 1.2em;
    color: white;
}
#img-facebook{
    width: 4em;
    height: 4em;
}
#img-insta{
    width: 4em;
    height: 4em;
}
#img-linkdin{
    width: 4em;
    height: 4em;
}
#img-twitter{
    width: 4em;
    height: 4em;
}
.reseaux-sociaux{
    margin-top: 1.6em;
}
.reseaux-sociaux img{
    margin-right: 1em;
    transition: all 0.3s ease-out;
    border: 2px solid transparent;
    border-radius: 100%;
}
.reseaux-sociaux img:hover{
    filter: invert(100%); 
    -webkit-filter: invert(100%); 
}
@media screen and (max-width: 712px){
    .positionBoutonCv{
        margin-top: -1em;
    }
}
.container1{
    margin-top: 5em;
    width: 60%;
    border-radius: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    box-shadow: 0 0.2em 0.7em 0.1em #cccccc;
}
.profil{
    width: 100%;
    font-family: font2;
    text-align: justify;
}
.profil h2{
    margin-top: 1em;
    font-family: font1;
    font-size: 2em;
}
.profil a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.name-profil{
    font-weight: bold;
}
.skills{
    width: 100%;
    margin-left: 10em;
    font-family: font2;
    text-align: justify;
}
.skills h2{
    margin-top: 1em;
    font-family: font1;
    font-size: 2em;
}
.box-skill{
    width: 15em;
    height: 2em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.skills h3{
    position: absolute;
    margin-left: -5em;
    margin-top: -1.5em;
}
.html{
    width: 14em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.css{
    width: 13.5em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.php{
    width: 8em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.sql{
    width: 8.5em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.javascript{
    width: 6em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.python{
    width: 7.5em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.poo{
    width: 3em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.english{
    width: 9em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
.french{
    width: 13em;
    height: 2em;
    background: linear-gradient(-45deg, #2B59BF, #2BA3BF, #26C064, #99C026, #C09D26, #C02626, #BC26C0);
    background-size: 500% 500%;
    animation: 3s linear infinite alternate background;
    border-radius: 5px 5px 5px 5px;
}
